<a class="ui-hover" id="kana-toggle" [routerLink]="['../', other_kana]" routerLinkActive="active">ПЕРЕКЛЮЧИТЬ НА {{kana == 'hiragana' ? 'КАТАКАНУ' : 'ХИРАГАНУ'}}</a>
<div class="kana-table">
  <table class="table table-hover table-sm table-bordered">
    <tr>
      <th></th>
      <th *ngFor="let column of columns">{{column}}</th>
    </tr>
    <tr *ngFor="let row of rows">
      <th>{{row}}</th>
      <td class="kana" *ngFor="let column of columns" (click)="showSyllableDetail(row, column)">{{getSyllableSign(row, column)}}</td>
    </tr>
  </table>
</div>
<app-table-item-detail *ngIf="show_syllable_detail" [syllable]="syllable_to_detail" [kana]="kana" (click)="toggleSyllableDetail()"></app-table-item-detail>