nav#menu-items

  a(href="file:///D:/Programming/Web/marusha/html/apps/table.html" routerLinkActive="active")
    | ТАБЛИЦА

  hr

  a(href="file:///D:/Programming/Web/marusha/html/apps/sign-to-transcription.html" routerLinkActive="active")
    | ЗНАК В ТРАНСКРИПЦИЮ

  a(href="file:///D:/Programming/Web/marusha/html/apps/transcription-to-sign.html" routerLinkActive="active")
    | ТРАНСКРИПЦИЮ В ЗНАК

  a(href="#" routerLinkActive="active")
    | СООТВЕТСТВУЮЩИЙ СИМВОЛ

  a(href="#" routerLinkActive="active")
    | ПОХОЖИЕ СИМВОЛЫ

  hr

  a(href="#" routerLinkActive="active")
    | О ПРИЛОЖЕНИИ
  a(href="#" routerLinkActive="active")
    | НАСТРОЙКИ

#menu-toggle.ui-hover(onclick="openNav()")
  | &#9776;
