div#kana-table.container
  table.table.table-hover.table-sm.table-bordered
    tr
      th
      th
      th а
      th и
      th у
      th э
      th о
      th я
      th ю
      th ё

    tr
      th
      td
      td あ
      td.right い
      td.right う
      td.wrong え
      td.right お
      td や
      td ゆ
      td よ

    tr
      th к
      td
      td か
      td き
      td.wrong く
      td け
      td こ
      td.wrong きゃ
      td きゅ
      td きょ

    tr
      th с
      td
      td さ
      td し
      td す
      td せ
      td そ
      td しゃ
      td しゅ
      td しょ

    tr
      th т
      td
      td た
      td ち
      td つ
      td て
      td と
      td ちゃ
      td ちゅ
      td ちょ

    tr
      th н
      td ん
      td な
      td に
      td ぬ
      td ね
      td の
      td にゃ
      td にゅ
      td にょ

    tr
      th х
      td
      td は
      td ひ
      td ふ
      td へ
      td ほ
      td ひゃ
      td ひゅ
      td ひょ

    tr
      th м
      td
      td ま
      td み
      td む
      td め
      td も
      td みゃ
      td みゅ
      td みょ

    tr
      th р
      td
      td ら
      td り
      td る
      td れ
      td ろ
      td りゃ
      td りゅ
      td りょ

    tr
      th в
      td
      td わ
      td
      td
      td
      td を
      td
      td
      td

    tr
      th г
      td
      td が
      td ぎ
      td ぐ
      td げ
      td ご
      td ぎゃ
      td ぎゅ
      td ぎょ

    tr
      th дз
      td
      td ざ
      td じ
      td ず
      td ぜ
      td ぞ
      td じゃ
      td じゅ
      td じょ

    tr
      th д
      td
      td だ
      td ぢ
      td づ
      td で
      td ど
      td ぢゃ
      td ぢゅ
      td ぢょ

    tr
      th б
      td
      td ば
      td び
      td ぶ
      td べ
      td ぼ
      td びゃ
      td びゅ
      td びょ

    tr
      th п
      td
      td ぱ
      td ぴ
      td ぷ
      td ぺ
      td ぽ
      td ぴゃ
      td ぴゅ
      td ぴょ
