.syllable-detail
  .big-sign.kana
    | あ
  p.transcription
    | а
  p.word
    | <span class="kana">ある</span> - существовать, быть, находиться (неодушевленных предметах)
  p.word
    | <span class="kana">あう</span> - встречаться, видеться
  p.word
    | <span class="kana">あそぶ</span> - играть, развлекаться
  p.word
    | <span class="kana">あなた</span> - ты
