.progress4 {
  background-color: #59bf5a;
}

.progress3 {
  background-color: #54a758;
}

.progress2 {
  background-color: #518d57;
}

.progress1 {
  background-color: #517055;
}

.progress0 {
  background-color: transparent;
}

.progress1m {
  background-color: #705255;
}

.progress2m {
  background-color: #8d5257;
}

.progress3m {
  background-color: #a75458;
}

.progress4m {
  background-color: #bf595a;
}
