.progress4 {
  background-color: #1be91d;
}

.progress3 {
  background-color: #1ec028;
}

.progress2 {
  background-color: #239332;
}

.progress1 {
  background-color: #2d673c;
}

.progress0 {
  background-color: transparent;
}

.progress1m {
  background-color: #672d3c;
}

.progress2m {
  background-color: #932332;
}

.progress3m {
  background-color: #c01e28;
}

.progress4m {
  background-color: #e91b1d;
}
