
<div class="container">
  <p>Приложение создано с целью собрать лучшие фичи других приложений, предназначенных для изучения японских азбук хираганы и катаканы.</p>
  <h3>Особенности приложения</h3>
  <ul>
    <li>Прогресс, набранный в ходе тренировок, сохраняется (в <a href="https://en.wikipedia.org/wiki/Web_storage">localStorage</a>). Настройки тренировок также сохраняются. Есть возможность сброса сохранённых данных</li>
    <li>«Карточки» слогов азбук. Содержат некоторые слова и фразы с использованием выбранного символа</li>
    <li>Таблицы прогресса для каждой тренировки с подсветкой слогов. Для каждой азбуки — отдельный прогресс</li>
    <li>Возможность отключения в тренировках диакритиков (<a href="https://ru.wikipedia.org/wiki/Дакутэн">дакутэнов</a> и <a href="https://ru.wikipedia.org/wiki/Хандакутэн">хандакутэнов</a>) и <a href="https://ru.wikipedia.org/wiki/Ёон">ёонов</a> в предлагаемых символах</li>
  </ul>
  <h3>Тренировки</h3>
  <ul>
    <li>«Знак в транскрипцию». Написать транскрипцию предлагаемого слога</li>
    <li>«Транскрипцию в знак». Для транскрипции выбрать верный символ каны</li>
    <li>«Соответствующий символ». Выбрать для слога хираганы соответствующий символ катаканы — и наоборот</li>
    <li>«Похожие символы». Аналогична тренировке «Транскрипцию в знак», но среди предложенных ответов будут только символы трудные для запоминания</li>
  </ul>
  <p>Репозиторий приложения:<a href="https://github.com/become-iron/marusha"> github.com/become-iron/marusha</a></p>
</div>