.container
  p Приложение создано с целью собрать в одном месте лучшие фичи различных других приложений для изучения японских азбук хираганы и катаканы. Прогресс, набранный в ходе тренировок, сохраняется.
  p Источники "вдохновения":
  ul
    li
      a(href="http://saison-group.ru/study/hiragana") Тренажёр для заучивания хираганы/катаканы
    li
      a(href="http://hiragana.training") hiragana.training
    li
      a(href="https://play.google.com/store/apps/details?id=com.legendarya.helloandroid") Android-приложение "Hiragana - Learn Japanese"
    li
      a(href="https://play.google.com/store/apps/details?id=com.mannaka.jvocab") Android-приложение "JVocab - Японский язык"
  p
    | Репозиторий приложения:
    a(href="https://github.com/become-iron/marusha")  github.com/become-iron/marusha
