
<div class="container">
  <p>Приложение создано с целью собрать в одном месте лучшие фичи различных других приложений для изучения японских азбук хираганы и катаканы. Прогресс, набранный в ходе тренировок, сохраняется.</p>
  <p>Источники "вдохновения":</p>
  <ul>
    <li><a href="http://saison-group.ru/study/hiragana">Тренажёр для заучивания хираганы/катаканы</a></li>
    <li><a href="http://hiragana.training">hiragana.training</a></li>
    <li><a href="https://play.google.com/store/apps/details?id=com.legendarya.helloandroid">Android-приложение "Hiragana - Learn Japanese"</a></li>
    <li><a href="https://play.google.com/store/apps/details?id=com.mannaka.jvocab">Android-приложение "JVocab - Японский язык"</a></li>
  </ul>
  <p>Репозиторий приложения:<a href="https://github.com/become-iron/marusha"> github.com/become-iron/marusha</a></p>
</div>