
<div class="modal-window" (click)="hideSyllableDetail()">
  <div class="syllable-detail">
    <div class="big-sign kana">{{syllable[kana]}}</div>
    <div>{{kana == 'hiragana' ? 'хирагана' : 'катакана'}}</div>
    <p class="transcription">{{syllable.transcription}}</p>
    <div class="words-block">
      <p class="word" *ngFor="let word of getWords()"><span class="kana">{{word[kana]}}</span> - {{word.translation}}</p>
    </div>
    <div class="words-block">
      <p class="word" *ngFor="let phrase of getPhrases()"><span class="kana">{{phrase[kana]}}</span> - {{phrase.translation}}</p>
    </div>
  </div>
</div>