<div class="big-sign" (click)="show_syllable_detail = !show_syllable_detail">
  {{right_option[kana]}}
</div>
<div>
  <button *ngFor="let syllable of proposed_options" (click)="checkChoice(syllable)">{{syllable[other_kana]}}</button>
</div>
<div>
  <button (click)="skip()">Пропустить</button>
</div>
<div class="previous_syllable"
     *ngIf="previous_right_option"
     [ngClass]="{right: is_right_previous_choice, wrong: !is_right_previous_choice}"
>
  {{previous_right_option[kana]}} - {{previous_right_option[other_kana]}} - {{previous_right_option.transcription}}
</div>
<div><button (click)="show_progress_table = !show_progress_table;">Прогресс</button></div>

<input type="checkbox" id="flag_diacritic" [(ngModel)]="flag_diacritic" (change)="setSettings('flag_diacritic')">
<label for="flag_diacritic">Диакритики</label>
<input type="checkbox" id="flag_youon" [(ngModel)]="flag_youon" (change)="setSettings('flag_youon')">
<label for="flag_youon">Ёоны</label>

<app-table-item-detail *ngIf="show_syllable_detail" [syllable]="right_option" [kana]="kana"></app-table-item-detail>
<app-progress-table *ngIf="show_progress_table" [progress]="progress" [kana]="kana"></app-progress-table>
