<nav>
  <div><a routerLink="/table/hiragana" routerLinkActive="active">Hiragana</a></div>
  <div><a routerLink="/table/katakana" routerLinkActive="active">Katakana</a></div>
  <div><a routerLink="/practice/corresponding-symbol/hiragana" routerLinkActive="active">Proposed Symbol [hiragana]</a></div>
  <div><a routerLink="/practice/corresponding-symbol/katakana" routerLinkActive="active">Proposed Symbol [katakana]</a></div>
  <div><a routerLink="/about" routerLinkActive="active">About</a></div>
  <div><a routerLink="/settings" routerLinkActive="active">Settings</a></div>
</nav>
