<nav>
  <div><a routerLink="/table/hiragana" routerLinkActive="active">Hiragana Table</a></div>
  <div><a routerLink="/table/katakana" routerLinkActive="active">Katakana Table</a></div>
  <div><a routerLink="/practice/sign-to-transcription/hiragana" routerLinkActive="active">Sign to Transcription [hiragana]</a></div>
  <div><a routerLink="/practice/sign-to-transcription/katakana" routerLinkActive="active">Sign to Transcription [katakana]</a></div>
  <div><a routerLink="/practice/transcription-to-sign/hiragana" routerLinkActive="active">Transcription to Sign [hiragana]</a></div>
  <div><a routerLink="/practice/transcription-to-sign/katakana" routerLinkActive="active">Transcription to Sign [katakana]</a></div>
  <div><a routerLink="/practice/corresponding-symbol/hiragana" routerLinkActive="active">Proposed Symbol [hiragana]</a></div>
  <div><a routerLink="/practice/corresponding-symbol/katakana" routerLinkActive="active">Proposed Symbol [katakana]</a></div>
  <div><a routerLink="/about" routerLinkActive="active">About</a></div>
  <div><a routerLink="/settings" routerLinkActive="active">Settings</a></div>
</nav>
