html {
  font-size: 2.3vh;
  color: #373a3c;
}

input, button {
  outline: none !important;  /*убрать рамки вокруг полей, кнопок при фокусе на них*/
}

.kana {
  font-family: MS PGothic, MS Gothic, Meiryo, Arial, sans-serif;
}

.ui-hover {
  cursor: pointer;
  z-index: 9998;
  /*padding: 0 0.3rem;*/
  color: #373a3c;
  user-select: none;
}

.ui-hover:hover {
  /*padding: 0 0.3rem;*/
  /*border-radius: 0.3rem;*/
  /*background-color: #b5bec4;*/
  /*transition: 0.5s;*/
  text-decoration: none;
  color: #4682B4 !important;
}

#menu-toggle {
  position: absolute;
  top: 1rem;
  left: 1rem;
  transition: 0.5s;
  font-size: 1.5rem;

  line-height: 2rem;
}

#settings {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
}

.setting {
  position: relative;
}

#progress {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

#kana-toggle {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

#syllables-list {
  position: absolute;
  top: 25%;
  right: 1rem;
  height: 50%;
  overflow-y: hidden;
  text-align: right;
}

.syllables-list-item {
  cursor: pointer;
}

.syllables-list-item .kana {
  font-size: 2rem;
}

.syllables-list-item .transcription {
  font-style: italic;
  font-size: 1.25rem;
}


/*MODAL*/
.modal-window {
  position: absolute;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(36, 34, 36, 0.95);
  background: radial-gradient(ellipse at center, rgba(105, 109, 112, 0.93) 0%, rgba(36, 34, 36, 0.93) 100%);
  color: #fff;
}

.modal-window .syllable-detail {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  max-width: 80%;
  margin: 0 auto;
  text-align: center;
}

.modal-window .syllable-detail .big-sign {
  font-size: 7rem;
  line-height: 7rem;
}

.modal-window .syllable-detail .transcription {
  font-size: 5rem;
  line-height: 4rem;
}

.modal-window .syllable-detail .words-block {
  padding-top: 1rem;
}

.modal-window .syllable-detail .word {
  text-align: left;
}

.modal-window .syllable-detail span.kana {
  font-weight: bold;
}



/*PRACTICE*/
#task {
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  width: 15rem;
}

#previous-syllable-info {
  cursor: pointer;
  font-size: 2rem;
}

#previous-syllable-info.right {
  color: green;
}

#previous-syllable-info.wrong {
  color: red;
}

#syllable {
  cursor: pointer;
  font-size: 7rem;
  line-height: 11rem;
}

#skip {
  /*display: inline-block;*/
}



/*SIGN TO TRANSCRIPTION*/
#answer-field {
  text-align: center;
  font-size: 3.5rem;
  line-height: 3.5rem;
  border: 0;
  width: 15rem;
  text-transform: uppercase;
  border-radius: 0.4rem;
}

#answer-field.right-answer {
  border-color: #5cb85c;
  background-color: #5cb85c;
}

#answer-field.wrong-answer {
  border-color: #d9534f;
  background-color: #d9534f;
}

/*OTHER PRACTICES*/
#task button {
  cursor: pointer;
  font-size: 2rem;
  line-height: 3rem;
  text-align: center;
  width: 6rem;
  height: 3rem;
  border: 0;
  padding: 0.1rem 0.5rem;
  margin: 0.3rem 0.15rem;
}

#task button:hover {
  color: white;
  background-color: #696d70;
}



/*TABLE*/
.kana-table {
  position: absolute;
  min-width: 70%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-size: 2rem;
  line-height: 2.3rem;
}

.kana-table th, td {
  border: 2px solid #d2d7d9 !important;
  text-align: center;
  padding: 0 0.1rem !important;
}

.kana-table th {
  text-transform: uppercase;
}
