.container
  //label(for="kana_font_family") Выбрать шрифт:
  //select(name="kana_font_family", id="kana_font_family", [(ngModel)]="kana_font_family")
  //  option(value="bla_bla", selected)
  //  option(value="bla_bla2")

  button.btn.btn-default((click)="clearHistory()") Очистить всю историю
