.container
  label(for="kana_font_family") Выбрать шрифт:
  select(name="kana_font_family", id="kana_font_family", [(ngModel)]="chosen_font", (change)="changeFont(chosen_font)")
    option(*ngFor="let font of fonts")
      | {{font.text}}
  div
    | Текст для примера:
  div.kana(style="font-size: 2rem;")
    | そのファイルをコピーしてくれますか


  button.btn.btn-default((click)="clearHistory()") Очистить всю историю
